/3)Setup_Environment/NetBeans/MyFirst/nbproject/private/
/3)Setup_Environment/NetBeans/MyFirst/build/
/4)Operators_Expressions/JavaApplication/nbproject/private/
/4)Operators_Expressions/JavaApplication/build/
/4)Operators_Expressions/CalculateArea/nbproject/private/
